= form_with(model: event, local: true) do |form|
  - if event.errors.any?
    #error_explanation
      %h2
        = pluralize(event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - event.errors.full_messages.each do |message|
          %li= message
  .field
    = form.text_field :title,placeholder: "タイトルを入力してください"
  .field
    = form.text_area :description,placeholder: "イベントを入力してください"
  .field.start
    Start
    = form.datetime_select :start_date
  .field.end
    End
    = form.datetime_select :end_date
    = form.hidden_field :user_id ,value:current_user.id
  .actions
    = form.submit "送 信",class: :submit_new