.context
  %h1.show-h1 Show-Page
.area
  %ul.circles
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li
  .content-show
    %p
      %strong Title:
      = @event.title
    %p
      %strong Description:
      = @event.description
    %p
      %strong Start date:
      = @event.start_date
    %p
      %strong End date:
      = @event.end_date
    = link_to 'Edit', edit_event_path(@event)
    |
    = link_to 'Destroy', @event,class:"destroy", method: :delete, data: { confirm: 'Are you sure?' }
    |
    = link_to 'Back', events_path
    |
    = link_to 'Home Calendar', root_path
