.context
  %h1.show-h1 Show-Page
.area
  %ul.circles
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li
    %li
  .content-show
    .content-show__box
      %p.title
        %strong タイトル:
        = @event.title
      %p.description
        %strong 詳細:
        = @event.description
      %p.start-date
        %strong 時間(始まり):
        = @event.start_date
      %p.end-date
        %strong 時間(終わり):
        = @event.end_date
      .content-show-button
        = link_to 'Edit', edit_event_path(@event),class:"edit-show"

        = link_to 'Destroy', @event,class:"destroy-show", method: :delete, data: { confirm: 'Are you sure?' }

        = link_to 'Back', events_path,class:"back-show"

        = link_to 'Home Calendar', root_path,class:"home-calendar-show"
= render "footer"